[defaults]
interpreter_python=/usr/bin/python3
inventory=./inventory.ini
stdout_callback=default
result_format=yaml
pretty_results=true
callbacks_enabled=profile_tasks
fact_caching=jsonfile
fact_caching_connection=./.fact_cache
fact_caching_timeout=3600
[ssh_connection]
pipelining=true
